.header {
  display: flex;
  flex-direction: column; /* 요소들을 세로로 정렬합니다. */
  align-items: center;
  background-color: transparent;
  padding: 20px;
  color: #fff;
}

.menu-group {
  display: flex; /* 메뉴 그룹을 가로로 정렬합니다. */
  flex-direction: column; /* 메뉴 항목을 세로로 정렬합니다. */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /* 로고 아래에 간격을 추가합니다. */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffd700;
}