.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  color: #fff;
  height : 100%;
  width:max-content;
  position: relative;
  line-height: 1.2;
}

.menu-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 메뉴 항목들을 수직 중앙 정렬 */
  margin : 0;
}

.menu-group:nth-child(2) li a:hover {/* 마우스 올려놓으면 색 변경 */
  color: #7e9af3; 
  text-decoration: underline;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 채용정보, 입사지원, 회사소개, 인사제도 css */
.menu-group:nth-child(1) li a {
  color: #000000; 
  text-decoration: none;
  font-size: 17px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: bold;
}

.menu-group:nth-child(1) li:nth-last-child(1) {
  margin-bottom: 60px;
}

.menu-group:nth-child(1) li a:hover {/* 마우스 올려놓으면 색 변경 */
  color: #1a8334; 
  text-decoration: underline;
}

/* 합격자 조회, 문의하기 css */
.menu-group:nth-child(2) li a {
  color: #7e9af3;
  text-decoration: none;
  font-size: 14px; 
  font-weight: bold;
}

.menu-group:nth-child(2) { /* 보라색 선 추가 */
  border-top: 1px solid #7e9af3; 
  border-bottom: 1px solid #7e9af3; 
}

.menu-group:nth-child(2) li a:hover {/* 마우스 올려놓으면 색 변경 */
  color: #7e9af3; 
  text-decoration: underline;
}

.menu-group:nth-child(2) li:last-child {
  margin-bottom: 15px; /* '문의하기' 아래에 마진 추가 */
}


.menu-group:nth-child(3) li a {
  color: #631fcf; 
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.menu-group:nth-child(3) {
  position: absolute;
  bottom: 13%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
  position: absolute;
  bottom: 4%;
  left: 10px; /* 좌측 여백 추가 */
  right: 20px; /* 우측 여백 추가 */
}


.footer-info p:nth-child(1) {
  border-top: 1px solid #000000; /* 첫 번째 p 요소에 위쪽 border 추가 */
  border-bottom: 1px solid #000000; /* 마지막 p 요소에 아래쪽 border 추가 */
  padding: 10px;
  margin-bottom: 10px;
  margin-left : 15px;
  margin-right : 15px;
  border-style:inset;
}


.footer-info p {
  margin: 5px 0;
  margin-left: 20px;
  font-size: 11px;
}
