
/* App.css */
.App {
  display: flex;
}

.left {
  width: 50px; /* 헤더의 너비에 맞게 조절하세요 */
  background-color: #333; /* 헤더의 배경색에 맞게 조절하세요 */
  color: #fff; /* 헤더의 텍스트 색상에 맞게 조절하세요 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
