/* Home.css */

.home {
    height: 100vh; /* 화면의 높이를 꽉 채우도록 설정합니다. */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home img {
    height: 100%; /* 이미지의 높이를 화면의 높이에 맞춥니다. */
    width: auto; /* 가로는 세로의 비율에 맞게 자동 조정됩니다. */
  }