/* Home.css */
#wrap {
  position:relative;
}
.wrapContent {
  min-height:300px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .pageWizard .list {
  float:none;
  height:auto;
}

.layoutMain {
  display: flex;
  height: 100vh;
}

#slider {
  flex: 1;
  display: 'block';
}
#slider img {
  width: auto; /* 가로를 화면에 꽉 차게 */
  height: 100vh; /* 세로는 비율에 맞춰 자동 조절 */
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 220px;
}

#menu > a {
  flex: 1; /* 메뉴 요소를 균일하게 확장 */
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  margin-left: auto; /* 이미지를 왼쪽으로 밀어서 오른쪽 끝에 배치 */
}

body.type-05 #menu>a, body.type-05 #menu>div {
  color: #fff;
}
#menu>.nth-1 {
  background: #365798;
}

#menu>a, #menu>div {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  width: inherit;
  height: 180px;
  text-decoration: none;
}

#menu>a, #menu>div {
  color: #fff;
}
a {
  text-decoration: none;
}
body, input, textarea, select, button, table, a {
  color: #333;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
#setMenu3 h1.font-nanumbarungothic, #setMenu3 div.font-nanumbarungothic h2, #setMenu3 div.font-nanumbarungothic p, .font-nanumbarungothic, .font-nanumbarungothic button {
  font-family: '나눔바른고딕', 'Nanum Barun Gothic', '돋움', Dotum;
}
body {
  line-height: 1.5;
}
body, input, textarea, select, button, table {
  font-size: 12px;
}
body.type-05 #menu>a, body.type-05 #menu>div {
  color: #fff;
}
#menu>.nth-2 {
  background: #4c6ebb;
}
#menu>a, #menu>div {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  width: inherit;
  height: 180px;
  text-decoration: none;
}
#menu>a, #menu>div {
  color: #fff;
}
a {
  text-decoration: none;
}
body, input, textarea, select, button, table, a {
  color: #333;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
#setMenu3 h1.font-nanumbarungothic, #setMenu3 div.font-nanumbarungothic h2, #setMenu3 div.font-nanumbarungothic p, .font-nanumbarungothic, .font-nanumbarungothic button {
  font-family: '나눔바른고딕', 'Nanum Barun Gothic', '돋움', Dotum;
}
body {
  line-height: 1.5;
}
body, input, textarea, select, button, table {
  font-size: 12px;
}

body.type-05 #menu>a, body.type-05 #menu>div {
  color: #fff;
}
#menu>.nth-3 {
  background: #156bad;
}
#menu>a, #menu>div {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  width: inherit;
  height: 180px;
  text-decoration: none;
}
#menu>a, #menu>div {
  color: #fff;
}
a {
  text-decoration: none;
}
body, input, textarea, select, button, table, a {
  color: #333;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
#setMenu3 h1.font-nanumbarungothic, #setMenu3 div.font-nanumbarungothic h2, #setMenu3 div.font-nanumbarungothic p, .font-nanumbarungothic, .font-nanumbarungothic button {
  font-family: '나눔바른고딕', 'Nanum Barun Gothic', '돋움', Dotum;
}
body {
  line-height: 1.5;
}
body, input, textarea, select, button, table {
  font-size: 12px;
}

body.type-05 #menu>.nth-4 {
  background: #007f9c;
}
body.type-05 #menu>a, body.type-05 #menu>div {
  color: #fff;
}
#menu>.nth-4 {
  background: #1582ad;
}
#menu>a, #menu>div {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  width: inherit;
  height: 180px;
  text-decoration: none;
}
#menu>a, #menu>div {
  color: #fff;
}
a {
  text-decoration: none;
}
body, input, textarea, select, button, table, a {
  color: #333;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
#setMenu3 h1.font-nanumbarungothic, #setMenu3 div.font-nanumbarungothic h2, #setMenu3 div.font-nanumbarungothic p, .font-nanumbarungothic, .font-nanumbarungothic button {
  font-family: '나눔바른고딕', 'Nanum Barun Gothic', '돋움', Dotum;
}
body {
  line-height: 1.5;
}

body, input, textarea, select, button, table {
  font-size: 12px;
}

body.type-05 #menu>.nth-5 {
  background: #006186;
}
body.type-05 #menu>a, body.type-05 #menu>div {
  color: #fff;
}
#menu>.nth-5 {
  background: #0d5772;
}
#menu>a, #menu>div {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  width: inherit;
  height: 180px;
  text-decoration: none;
}
#menu>a, #menu>div {
  color: #fff;
}
a {
  text-decoration: none;
}
body, input, textarea, select, button, table, a {
  color: #333;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
#setMenu3 h1.font-nanumbarungothic, #setMenu3 div.font-nanumbarungothic h2, #setMenu3 div.font-nanumbarungothic p, .font-nanumbarungothic, .font-nanumbarungothic button {
  font-family: '나눔바른고딕', 'Nanum Barun Gothic', '돋움', Dotum;
}
body {
  line-height: 1.5;
}
body, input, textarea, select, button, table {
  font-size: 12px;
}