/* Home.css */
.home-container {
    position: relative;
  }
  
  .home-content {
    position: relative;
    z-index: 1; /* 텍스트 내용이 이미지 위에 올 수 있도록 z-index 값을 설정합니다. */
  }
  
  .home-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 화면에 꽉 채우도록 설정합니다. */
    z-index: 0; /* 이미지는 가장 뒤에 위치하도록 z-index 값을 설정합니다. */
  }